@model IEnumerable<QuanLyCayXanh.Models.Fertilizer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quan Lý Phân Bón</h1>
<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Thông kê", "ExportToPdf", null, new { @class = "btn btn-primary" })

</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr class="text-md-center" width=" 250">
                <th width="140">
                    Tên phân bón
                </th>
                <th width="150">
                    Loại phân bón
                </th>
                <th width="90">
                    Số lượng
                </th>
                @* <th>
            Hình ảnh
        </th>*@
                <th>
                    Vị trí
                </th>
                <th>
                    Tên cây
                </th>
                <th width="180">
                    Số lần tưới Nước
                </th>
                <th width="200">
                    Số lần bón phân định kì
                </th>
                <th width="160">
                    Số lượng bỏ phân
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                   @* <td>
                        <img src="~/Images/@item.Image" alt="Hình ảnh" width="30" height="30" />
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nametree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Water)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fertilization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Applyingfertilizer)
                    </td>
                    <td width="180">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.FertilizerID }, new { @class = "btn btn-outline-primary btn-sm mr-1" })
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.FertilizerID }, new { @class = "btn btn-outline-info btn-sm mr-1" })
                        @Html.ActionLink("Xóa", "Delete", new { id = item.FertilizerID }, new { @class = "btn btn-outline-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
   

</div>
