@model QuanLyCayXanh.Models.Buy

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Purchase", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-body">
            <h4>Mua Cây Xanh</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
            @Html.LabelFor(model => model.GreeneryID, "Tên Cây Xanh: ")

            <div class="col-md-10">
                @Html.DropDownList("GreeneryID")
            </div>
        </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Provider, "Nhà Cung Cấp:")

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Provider, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Provider, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, "Số lượng:")

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            @*            <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.Date, "Ngày: ")
                @Html.TextBoxFor(model => model.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Date, "Giá tiền:")

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Ảnh bìa:
                </label>
                <div class="col-md-10">
                    <input type="file" name="fFileUpload" />
                    @ViewBag.ThongBao
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">

        <input type="submit" value="Tạo mới" class="btn btn-primary" /> |
        @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-outline-dark font-weight-bold ml-2" })

    </div>
}